/* основной цвет текста #212121 */
/* вторичный цвет текста #757575 */
/* цвет фона #FFFFFF */
/* вторичный цвет #2F303A */
:root {
  --main-font-family: 'Roboto', sans-serif;
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
  --social-link-color: #afb1b8;
  --nav-gap: 32px;

  --animation-duration: 250ms;
  --animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
/* Общее */
/* * {
  outline: 1px solid tomato;
} */

.page {
  display: flex;
  flex-direction: column;

  background-color: #ffffff;
  color: var(--primary-text-color);
  font-family: var(--main-font-family);
  font-size: 14px;
}
.basic {
  flex-grow: 1;
}
.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}
.header-contacts {
  border-bottom: 1px solid #ececec;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul {
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
}
.item {
  list-style-type: none;
}

/* Лого */
.header-contacts .container {
  display: flex;
  align-items: center;
}
.logo {
  display: block;
  padding-top: 24px;

  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  color: var(--primary-text-color);
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.logo > .link {
  color: var(--accent-color);
  transition: color var(--animation-duration) var(--animation-timing-function);
}

.nav .logo:hover,
.nav .logo:focus {
  color: var(--accent-color);
}
/* Навигация */
.nav {
  display: flex;
}
.nav-list {
  display: flex;
  padding-top: var(--nav-gap);
  padding-bottom: var(--nav-gap);
}
.nav-link {
  position: relative;

  display: inline-block;

  color: var(--primary-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;

  transition: color var(--animation-duration) var(--animation-timing-function);
}
.nav-link:hover,
.nav-link:focus {
  color: var(--accent-color);
}
.current.nav-link {
  color: var(--accent-color);
}
.current.nav-link::after {
  content: '';

  position: absolute;
  bottom: -205%;
  left: 0;

  display: block;
  background-color: #2196f3;
  width: 100%;
  height: 4px;
  border-radius: 2px;
}

.nav-item:not(:first-child) {
  padding-left: 50px;
}
.nav-item:first-child {
  padding-left: 93px;
}

/* Контакты */
.header-contacts-wrapper {
  margin-left: auto;
}
.header-contacts-list {
  display: flex;
  align-items: center;
}
.header-contacts-item:not(:first-child) {
  margin-left: 30px;
}

.header-contacts-link {
  display: flex;
  align-items: center;

  color: var(--secondary-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;

  transition: color var(--animation-duration) var(--animation-timing-function);
}

.header-contacts-link:hover,
.header-contacts-link:focus {
  color: var(--accent-color);
}

.header-link-icon {
  margin-right: 10px;
  fill: currentColor;
}

/* Герой */
.hero {
  height: 600px;
  max-width: 1600px;
  margin-right: auto;
  margin-left: auto;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/home/img0.jpg);

  /* Если будет менятся картинка */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  background-color: #2f303a;
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
}

.hero-title {
  width: 696px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;

  color: #ffffff;
  font-weight: 900;
  font-size: 44px;
  text-transform: uppercase;
  text-align: center;
  line-height: 1.36;
  letter-spacing: 0.06em;
}
.hero-btn,
.modal-send-btn {
  display: block;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 28px;
  border: none;
  border-radius: 4px;

  font-family: var(--main-font-family);
  background-color: var(--accent-color);
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  transition: background-color var(--animation-duration) var(--animation-timing-function);
}
.hero-btn:hover,
.hero-btn:focus,
.modal-send-btn:hover,
.modal-send-btn:focus {
  cursor: pointer;
  background-color: #188ce8;
}

/* Паттерн для скрытия заголовка */
.features-title,
.filter-title {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
/* Секция Особенности  */

.features-list {
  display: flex;
}
.features-box {
  display: flex;
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.features-subtitle {
  margin-bottom: 10px;

  font-size: inherit;
  text-transform: uppercase;
  line-height: 1.14;
  letter-spacing: 0.03em;
}
.features-text {
  color: var(--secondary-text-color);
  line-height: 1.7;
  letter-spacing: 0.03em;
}
.features-item {
  width: 270px;
}
.features-item:not(:first-child) {
  margin-left: 30px;
}
/* Секция Наша работа и Наша команда*/
.work.section {
  padding-top: 0;
}
.work-title,
.team-title,
.client-title {
  margin-bottom: 50px;

  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
}
.work-list {
  display: flex;
  margin-left: -30px;
}
.work-item {
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  overflow: hidden;
}
.work-img,
.team-img,
.services-img {
  display: block;
}
.work-img-thumb {
  position: relative;
}
.work-text-thumb {
  position: absolute;
  bottom: 0;

  width: 100%;
  height: 70px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgba(47, 48, 58, 0.8);
}
.work-subtitle {
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}
.team {
  background-color: #f5f4fa;
}
.team-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-left: -30px;
}
.team-item {
  flex-basis: calc(100% / 4 - 30px);
  margin-left: 30px;
  overflow: hidden;

  background-color: #ffffff;
  border-radius: 4px;

  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.2), 0 1px 1px rgba(0, 0, 0, 0.14),
    0 1px 3px rgba(0, 0, 0, 0.12);

  text-align: center;
}
.team-box {
  padding-top: 30px;
  padding-bottom: 30px;
}
.team-subtitle {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.team-text {
  margin-bottom: 16px;

  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.team-social-list {
  display: flex;
  align-items: center;
  justify-content: center;
}
.team-social-item:not(:first-child) {
  margin-left: 10px;
}

.team-link {
  display: flex;

  justify-content: center;
  align-items: center;

  width: 44px;
  height: 44px;

  background-color: #ffffff;
  border-radius: 50%;

  color: var(--social-link-color);
  transition: background-color var(--animation-duration) var(--animation-timing-function),
    color var(--animation-duration) var(--animation-timing-function);
}
.team-link-icon {
  fill: currentColor;
}
.team-link:hover,
.team-link:focus {
  background-color: var(--accent-color);
  color: #ffffff;
}

/* Клиенты */
.client-list {
  display: flex;
}
.client-item:not(:first-child) {
  margin-left: 30px;
}
.client-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 92px;
  border: 1px solid var(--social-link-color);
  fill: var(--social-link-color);
  border-radius: 4px;

  transition: fill var(--animation-duration) var(--animation-timing-function),
    border-color var(--animation-duration) var(--animation-timing-function);
}

.client-link:hover,
.client-link:focus {
  fill: var(--accent-color);
  border-color: var(--accent-color);
}

/* Футер */
.footer-contacts {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer-contact-wrapper > .logo {
  padding-top: 0;
  margin-bottom: 20px;

  color: #ffffff;

  transition: color var(--animation-duration) var(--animation-timing-function);
}

.footer-contacts .logo:hover,
.footer-contacts .logo:focus {
  color: var(--accent-color);
}
.address {
  margin-bottom: 9px;

  color: rgba(255, 255, 255, 1);
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-weight: 400;
}
.footer-contacts-link {
  display: block;

  color: rgba(255, 255, 255, 0.6);
  line-height: 1.71;
  letter-spacing: 0.03em;

  transition: color var(--animation-duration) var(--animation-timing-function);
}
.footer-contacts-item:first-child {
  margin-bottom: 9px;
}
.footer-contacts-link:hover,
.footer-contacts-link:focus {
  color: var(--accent-color);
}
.footer-contacts > .container {
  display: flex;
  align-items: baseline;
}
.footer-social-wrapper {
  margin-left: 70px;
}
.footer-social-text,
.footer-form-text {
  text-transform: uppercase;
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
}
.footer-list {
  display: flex;
  margin-top: 20px;
}
.footer-social-item:not(:first-child) {
  margin-left: 10px;
}
.footer-link {
  display: flex;

  width: 44px;
  height: 44px;

  justify-content: center;
  align-items: center;

  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;

  transition: background-color var(--animation-duration) var(--animation-timing-function);
}

.footer-link-icon {
  fill: currentColor;
}

.footer-link:hover,
.footer-link:focus {
  background-color: var(--accent-color);
}
.footer-form-wrapper {
  margin-left: 93px;
}
.footer-form {
  display: flex;
  margin-top: 20px;
}
.user-email {
  width: 358px;
  background-color: transparent;
  border-color: rgba(255, 255, 255, 0.3);
  box-shadow: rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.footer-form-btn {
  margin-left: 12px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--accent-color);
  width: 200px;
  padding: 10px 29px;
  border: none;
  border-radius: 4px;

  font-family: var(--main-font-family);
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
}
.footer-form-btn:hover,
.footer-form-btn:focus {
  cursor: pointer;
}
.form-icon {
  margin-left: 10px;
  fill: currentColor;
}
/* Портфолио */

.filter-list {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}
.filter-item:not(:first-child) {
  margin-left: 10px;
}
.filter-btn {
  display: block;
  border: none;
  border-radius: 4px;
  padding: 6px 22px;

  font-family: var(--main-font-family);
  background-color: #f5f4fa;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  text-align: center;

  transition: background-color var(--animation-duration) var(--animation-timing-function),
    color var(--animation-duration) var(--animation-timing-function),
    box-shadow var(--animation-duration) var(--animation-timing-function);
}
.filter-btn:hover,
.filter-btn:focus {
  background-color: var(--accent-color);
  color: #ffffff;
  cursor: pointer;

  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.08),
    0 3px 1px rgba(0, 0, 0, 0.1);
}
.services-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}
.services-link {
  display: block;

  transition: box-shadow var(--animation-duration) var(--animation-timing-function);
}
.services-link:hover,
.services-link:focus {
  box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0 4px 4px rgba(0, 0, 0, 0.06),
    0 1px 1px rgba(0, 0, 0, 0.12);
}
.services-list > .item {
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-top: 30px;
}

.services-thumb {
  position: relative;
  overflow: hidden;
}
.services-description {
  width: 322px;
  color: #ffffff;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
}
.services-text-thumb {
  position: absolute;
  top: 100%;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 24px;

  background-color: rgba(33, 150, 243, 0.9);

  transition: transform var(--animation-duration) var(--animation-timing-function);
}
.services-link:hover .services-text-thumb,
.services-link:focus .services-text-thumb {
  transform: translateY(-100%);
}
.services-box {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}
.services-subtitle {
  margin-bottom: 4px;

  color: var(--primary-text-color);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.services-text {
  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 1.89;
  letter-spacing: 0.03em;
}
/* Модальное окно */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity var(--animation-duration) var(--animation-timing-function);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);

  padding: 8px;
  min-width: 528px;
  min-height: 581px;
  background-color: #ffffff;
  border-radius: 4px;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);

  transition: transform var(--animation-duration) var(--animation-timing-function);
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.8);
}
.modal-close-btn {
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;

  margin-left: auto;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: fill var(--animation-duration) var(--animation-timing-function);
}
.modal-close-btn:hover,
.modal-close-btn:focus {
  fill: var(--accent-color);
}
.modal-title {
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-align: center;
}
.modal-form {
  display: flex;
  flex-direction: column;

  margin: 12px 33px 30px;
}
.modal-group {
  margin-bottom: 10px;

  display: flex;
  flex-direction: column;
}
.modal-group:nth-child(4) {
  margin-bottom: 20px;
}
.modal-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
}
.modal-label:not(:last-child) {
  margin-bottom: 4px;
}
.modal-label:last-child {
  font-size: 14px;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-input,
.comment {
  padding: 11px 12px 11px 42px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);

  transition: outline-color var(--animation-duration) var(--animation-timing-function);
}
.modal-group {
  position: relative;
}
.modal-icon {
  position: absolute;
  top: 29px;
  left: 12px;

  margin-right: 12px;

  transition: fill var(--animation-duration) var(--animation-timing-function);
}
.modal-input:focus,
.comment:focus {
  outline-color: var(--accent-color);
}

.modal-input:focus + .modal-icon {
  fill: var(--accent-color);
}

.comment {
  padding-left: 12px;
  resize: none;
}
.comment::placeholder {
  font-size: 12px;
  color: rgba(117, 117, 117, 0.5);
}
.modal-policy {
  position: relative;
}

.modal-checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  position: absolute;
}

.checkbox-icon {
  display: inline-block;
  margin-right: 8px;

  transition: fill var(--animation-duration) var(--animation-timing-function);
}
.modal-checkbox:focus ~ .checkbox-icon {
  fill: var(--accent-color);
}

.checkbox-icon-check {
  position: absolute;
  opacity: 0;
  top: 1;
  left: 19.4px;
}

.modal-checkbox:checked ~ .checkbox-icon-check {
  opacity: 1;
}
.modal-checkbox:checked ~ .checkbox-icon {
  opacity: 0;
}
.policy {
  color: var(--accent-color);
}
